@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

@-webkit-keyframes myAnim {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  10% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
  }
  17% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  33% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
  }
  45% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes myAnim {
  0% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  10% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
  }
  17% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  33% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
  }
  45% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

body {
  font-family: 'Montserrat', sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
  margin: 0;
}

.top {
  min-height: 735px;
  background-image: url(img/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

/*КАТАЛОГ*/
.top-catalog {
  min-height: 400px;
  background-image: url(img/head_catalog.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.catalog-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  padding-top: 127px;
  padding-bottom: 126px;
  color: #FFFFFF;
}

.catalog1 {
  margin-top: 40px;
  margin-bottom: 64px;
}

.catalog-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 64px;
  margin-bottom: 40px;
}

.catalog-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
  font-size: 16px;
  line-height: 32px;
}

.bar-link {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

.catalog-select {
  width: 288px;
  height: 41px;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-size: 16px;
  line-height: 20px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  /*align-items: flex-end;*/
}

.input-search {
  height: 41px;
  width: 288px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  color: #FFFFFF;
  padding-left: 32px;
  font-size: 16px;
}

.input-search::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 16px;
}

.input-search:-ms-input-placeholder {
  color: #ffffff;
  font-size: 16px;
}

.input-search::-ms-input-placeholder {
  color: #ffffff;
  font-size: 16px;
}

.input-search::placeholder {
  color: #ffffff;
  font-size: 16px;
}

textarea:focus, input:focus {
  outline: none;
}

.input-search::focus {
  color: #ffffff;
}

.header {
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.nav-link {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}

.header_links, .title_mob {
  display: none;
}

.title {
  font-weight: 600;
  color: #FFFFFF;
  font-size: 64px;
  line-height: 70px;
  padding-top: 64px;
  padding-bottom: 16px;
  width: 790px;
}

.title-subtitle {
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 16px;
  color: #FFFFFF;
}

.title-link {
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
}

.product-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 32px;
}

.product-img {
  margin-bottom: 10px;
}

.product-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 9px;
}

.product-desc {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}

.product-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.product-price-old {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #888888;
}

.product {
  margin-top: 64px;
  margin-bottom: 72px;
}

.product-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  row-gap: 56px;
}

.product-box {
  width: 378px;
}

.price-new-old {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 32px;
}

.catalog {
  margin-bottom: 40px;
}

.catalog-link {
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
  margin-top: 40px;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.catalog-link:hover, .cart-list-product-btn:hover {
  color: #888888;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.footer {
  padding-top: 32px;
  padding-bottom: 40px;
  background: #F7F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 25px;
}

.footer-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.footer-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
}

.form-title {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
}

.form-input {
  background: #FFFFFF;
  width: 275px;
  height: 46px;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  margin-bottom: 12px;
  padding-left: 25px;
}

.form-input::-webkit-input-placeholder {
  color: #C4C4C4;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.form-input:-ms-input-placeholder {
  color: #C4C4C4;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.form-input::-ms-input-placeholder {
  color: #C4C4C4;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.form-input::placeholder {
  color: #C4C4C4;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.form-button {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  width: 275.36px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  display: block;
  -webkit-transition: background 2s, color 2s;
  transition: background 2s, color 2s;
}

.form-button:hover {
  background: #000000;
  border: 1px solid #000000;
  color: #FFFFFF;
}

/*Мебель Для*/
.product_for {
  margin-top: 64px;
}

.for_furniture {
  grid-column: span 4;
  height: 415px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.for_grid {
  display: -ms-grid;
  display: grid;
  gap: 32px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.for_big {
  grid-column: span 6;
}

.for_fur1 {
  background-image: url(img/for_fur1.png);
}

.for_fur2 {
  background-image: url(img/for_fur2.png);
}

.for_fur3 {
  background-image: url(img/for_fur3.png);
}

.for_fur4 {
  background-image: url(img/for_fur4.png);
}

.for_fur5 {
  background-image: url(img/for_fur5.png);
}

.cart_top {
  min-height: 400px;
  background-image: url(img/cart.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.cart {
  padding-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cart-inputs {
  padding-left: 24px;
  margin-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 41px;
}

.cart-order {
  background: #F7F6F6;
  height: 556px;
  border-radius: 20px;
  width: 379px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 379px;
}

.cart-order-title {
  margin-top: 42px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 32px;
}

.cart-order-input {
  font-family: inherit;
  width: 288px;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-radius: 0;
  background-color: #F7F6F6;
  border-bottom: 1px solid #CACDD8;
}

.cart-order-input::-webkit-input-placeholder {
  color: #000000;
}

.cart-order-input:-ms-input-placeholder {
  color: #000000;
}

.cart-order-input::-ms-input-placeholder {
  color: #000000;
}

.cart-order-input::placeholder {
  color: #000000;
}

.cart-order-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #040404;
  box-sizing: border-box;
  border-radius: 20px;
  width: 290px;
  font-size: 16px;
  line-height: 20px;
  height: 41px;
  display: block;
  background-color: #F7F6F6;
  display: block;
  margin: 0 auto;
  font-family: inherit;
  -webkit-animation: myAnim 2s ease 0s 10 normal forwards;
          animation: myAnim 2s ease 0s 10 normal forwards;
}

.cart-total {
  font-size: 24px;
  line-height: 29px;
  width: 379px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 18px;
}

.cart-total-sum {
  font-weight: 500;
}

.cart-list {
  width: 786px;
}

.cart-list-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-bottom: 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-list-product-img {
  width: 173px;
  height: 173px;
}

.cart-list-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 71px;
  height: 51px;
  background: #F7F6F6;
  border-radius: 6px;
  margin-left: auto;
}

.cart-list-number {
  border: none;
  background: #F7F6F6;
  border-radius: 6px;
  width: 47px;
}

.cart-list-number::-webkit-input-placeholder {
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
}

.cart-list-number:-ms-input-placeholder {
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  color: #000000;
}

.cart-list-number::-ms-input-placeholder {
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  color: #000000;
}

.cart-list-number::placeholder {
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
}

.cart-list-input-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 9px;
  background: #F7F6F6;
}

.cart-list-btn-up {
  background: #F7F6F6;
  background-image: url(img/up.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  border: none;
}

.cart-list-btn-down {
  background: #F7F6F6;
  background-image: url(img/down.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  border: none;
}

.cart-list-product {
  padding-top: 25px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  border-top: 0.5px solid #CACDD8;
}

.cart-list-product-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 14px;
}

.cart-list-product-desc {
  font-size: 14px;
  line-height: 17px;
  width: 276px;
  margin-bottom: 16px;
}

.cart-list-product-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}

.cart-list-element {
  padding-left: 32px;
}

.cart-list-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-size: 14px;
  line-height: 210%;
  gap: 30px;
}

.cart-list-action {
  margin-top: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 7px;
}

.cart-list-action-clear {
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  display: block;
  background-color: transparent;
  width: 200px;
  height: 41px;
  font-size: 14px;
  line-height: 17px;
  font-family: inherit;
  -webkit-transition: background-color 2s, color 2s;
  transition: background-color 2s, color 2s;
}

.cart-list-action-start {
  background: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  display: block;
  height: 41px;
  color: #FFFFFF;
  width: 200px;
  height: 41px;
  font-size: 14px;
  line-height: 17px;
  font-family: inherit;
  -webkit-transition: background-color 2s, color 2s;
  transition: background-color 2s, color 2s;
}

.cart-list-action-clear:hover {
  background-color: #000000;
  color: white;
}

.cart-list-action-start:hover {
  background-color: white;
  color: #000000;
  border: 1px solid #000000;
}

@media (max-width: 1023px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .for_furniture {
    height: 268px;
  }
  .for_grid {
    gap: 30px;
  }
  .product {
    margin-bottom: 64px;
  }
  .product-content {
    -webkit-column-gap: 29px;
            column-gap: 29px;
  }
  .footer-logo {
    display: none;
  }
  .form-button, .form-input {
    width: 268px;
  }
  .form-title {
    width: 265px;
  }
  .cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart-list-action {
    margin-top: 0px;
  }
  .cart-order {
    margin-top: 64px;
    width: 376px;
  }
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  img {
    max-width: 100%;
  }
  .top {
    text-align: center;
  }
  .header {
    padding-top: 32px;
    border-bottom: none;
  }
  .menu, .input-search, .title {
    display: none;
  }
  .header_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .title_mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 48px;
    line-height: 59px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 29px;
    font-weight: 600;
    color: #FFFFFF;
    padding-bottom: 16px;
  }
  .title-subtitle {
    font-size: 16px;
    line-height: 32px;
  }
  .title-link {
    font-size: 14px;
    line-height: 24px;
  }
  .product-title {
    font-size: 24px;
    line-height: 29px;
  }
  .for_furniture {
    font-size: 28px;
    line-height: 34px;
    height: 374.98px;
    grid-column: 1 / -1;
  }
  .for_big {
    height: 343px;
  }
  .for_grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .product, .product_for {
    margin-top: 32px;
  }
  .product {
    margin-bottom: 32px;
  }
  .product-subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  .product-desc {
    font-size: 14px;
    line-height: 17px;
  }
  .product-content {
    row-gap: 32px;
  }
  .product-price, .product-price-old {
    font-size: 18px;
    line-height: 22px;
  }
  .footer-logo, .cart-list-desc, .cart-list-product-img {
    display: none;
  }
  .form-button, .form-input {
    width: 268px;
  }
  .footer-form {
    margin: auto;
    margin-top: 35px;
  }
  .catalog-title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .cart-list-product-subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  .cart-list-product-desc {
    font-size: 12px;
    line-height: 15px;
  }
  .cart-list-product-price {
    font-size: 12px;
    line-height: 15px;
  }
  .cart-list-product {
    padding-top: 18px;
    padding-bottom: 24px;
  }
  .form-title {
    width: 265px;
  }
  .cart-list {
    max-width: 100%;
  }
  .cart-list-element {
    padding-left: 0;
  }
  .cart-list-action {
    padding-top: 8px;
  }
  .cart-list-action-clear, .cart-list-action-start {
    font-size: 12px;
    line-height: 15px;
  }
  .cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart-list-action {
    margin-top: 0px;
  }
  .cart-order {
    margin-top: 48px;
    width: 100%;
    margin-bottom: 16px;
  }
  .catalog-title {
    padding-top: 100px;
    padding-bottom: 170px;
  }
  .catalog-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .bar-link {
    font-size: 14px;
    line-height: 32px;
  }
  .catalog-select {
    font-size: 14px;
    line-height: 17px;
  }
}
/*# sourceMappingURL=style.css.map */